body{
    margin: 0 auto;
}

.container{
    display:flex;
    width: 55%;
    height: 100vh;
    margin: auto;
    text-align: center;
    align-items: center;
}

.block{
    padding: 10px;
    height: 50%

}

.block p{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 60%;
    overflow-y: auto;

}

/* width */
p::-webkit-scrollbar {
  width: 3px;
}

/* Track */
p::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
p::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
}

.scroll-button, .scroll-up{
    background: none;
    border: none;
    position: relative;
}

.scroll-button, .scroll-up:hover{
    cursor: pointer;

}

span{
    position: static;
}
