body{
    margin: 0 auto;
}

.container{
    display:flex;
    width: 50%;
    height: 100vh;
    margin: auto;
    text-align: center;
    align-items: center;
}

.block{
    padding: 10px;
}

.block p{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 10%;
    overflow-y: auto;
}