body{
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.44);
}

header {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

header a{
    text-decoration: none;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #3c3c3c;
    color: white;
    font-size: 25px;
}

header a:first-child{
   border-right: 1px solid white;
}

header a:hover{
    background-color: rgba(255, 255, 255, 0.52);
    cursor: pointer;
    color: black;
    border-bottom: 1px solid white;
}



footer {
    display: none;
    text-align: center;
    padding: 10px;
   background-color: #3c3c3c;
    color: #fff;
    margin-top: auto;


}

main{
    color: white;
}

.container{
    display: flex;
    width: 55%;
   height: calc(100vh - 38.5px);
    margin: auto;
    text-align: center;
    align-items: center;
}

.block{
    display: none;
    padding: 10px;
    height: 50%;
    width: 50%;
}



.block p{
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 60%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3);

}

/* width */
p::-webkit-scrollbar {
  width: 3px;
}

/* Track */
p::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
p::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
}

.scroll-button, .scroll-up{
    background: none;
    border: none;
    position: relative;
}

.scroll-button, .scroll-up:hover{
    cursor: pointer;

}

span{
    position: static;
}



.spinner{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-top: 3px solid white;
    justify-content: center;
    animation: spin 0.6s linear;
    border-radius: 100%;

}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}