body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto 0 auto;
	background: blue;
	height: 100vh;
}

.box {
	display: block;
	width: 100%;
	height: 100%;
	background: #ddd;
}

#map {
	height: 100%;
	width: 100%;
}
